@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.clearfix:after,
.event__assets:after,
.form__row:after,
.form--inline .form__row--controls:after,
.form--inline .form__row--actions:after,
.media:after {
  content: "";
  display: table;
  clear: both; }

.align-left {
  text-align: left; }

.align-center,
.countdown {
  text-align: center; }

.align-right {
  text-align: right; }

.justify {
  text-align: justify; }

.float-left {
  float: left; }

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.float-right {
  float: right; }

.no-space {
  margin: 0;
  padding: 0; }

.space {
  margin: 1.5rem; }

.space-top {
  margin-top: 1.5rem; }

.space-right {
  margin-right: 1.5rem; }

.space-btm {
  margin-bottom: 1.5rem; }

.space-left {
  margin-left: 1.5rem; }

.bg-primary {
  background-color: #00aeef; }

.bg-secondary,
.countdown {
  background-color: #005399; }

.bg-tertiary {
  background-color: #022553; }

.bg-grey {
  background-color: #43485b; }

.bg-grey-light {
  background-color: #dce8ef; }

.bg-grey-dark {
  background-color: #3E3E3E; }

.bg-white {
  background-color: #fff; }

.text-primary {
  color: #00aeef; }

.text-secondary {
  color: #005399; }

.text-tertiary {
  color: #022553; }

.text-grey {
  color: #43485b; }

.text-grey-light {
  color: #dce8ef; }

.text-white,
.block,
.block:hover,
.countdown {
  color: #fff; }

.img-center {
  display: block;
  margin: 0 auto 1.5rem auto; }

.is-uppercase {
  text-transform: uppercase; }

.hide {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  @page {
    margin: 0.5cm; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@-ms-viewport {
  width: device-width;
  zoom: 1.0; }

@viewport {
  width: device-width;
  zoom: 1.0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  background: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

a {
  background-color: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

iframe,
object,
embed {
  max-width: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

input[type="search"] {
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"] {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@font-face {
  font-family: 'NewsGothicMT-Bold';
  src: url("../fonts/NewsGothicMT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NewsGothicMT-Bold.woff") format("woff"), url("../fonts/NewsGothicMT-Bold.ttf") format("truetype"), url("../fonts/NewsGothicMT-Bold.svg#NewsGothicMT") format("svg"); }

html {
  font-size: 100%; }

body {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #3E3E3E; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "NewsGothicMT-Bold", sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

h1,
.h1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: .9375rem;
  margin-bottom: .75rem; }
  @media screen and (min-width: 48rem) {
    h1,
    .h1 {
      font-size: 2.5rem;
      margin-top: 1.25rem;
      margin-bottom: 1rem; } }
  @media screen and (min-width: 64rem) {
    h1,
    .h1 {
      font-size: 3.375rem;
      line-height: 1.3;
      margin-top: 1.625rem;
      margin-bottom: 1.375rem; } }

h2,
.h2 {
  font-size: 1.2rem;
  margin-top: .8125rem;
  margin-bottom: .6875rem; }
  @media screen and (min-width: 48rem) {
    h2,
    .h2 {
      font-size: 1.875rem;
      margin-top: .9375rem;
      margin-bottom: .75rem; } }

h3,
.h3 {
  font-size: 1.688rem;
  margin-top: .8125rem;
  margin-bottom: .6875rem; }

h4,
.h4 {
  font-size: 1.5rem;
  margin-top: .75rem;
  margin-bottom: .625rem; }

h5,
.h5 {
  font-size: 1.375rem;
  margin-top: .6875rem;
  margin-bottom: .5625rem; }

h6,
.h6 {
  font-size: 1.25rem;
  margin-top: .625rem;
  margin-bottom: .5rem; }

p {
  margin-bottom: 0.75rem; }

.font-primary {
  font-family: "Lato", serif; }

.font-secondary {
  font-family: "NewsGothicMT-Bold", sans-serif; }

.lead {
  font-size: 1.125rem; }

small,
.text-small,
blockquote cite {
  font-size: .75rem; }

.text-muted {
  color: #43485b; }

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

strong {
  font-weight: bold; }

em,
cite,
dfn,
var {
  font-style: italic; }

a {
  text-decoration: none;
  word-wrap: break-word;
  color: #00aeef; }

a:hover {
  text-decoration: none;
  color: #0083b3; }

a img {
  border: none;
  background: none; }

a:hover img {
  border: none;
  background: none;
  opacity: 0.9;
  filter: alpha(opacity=90); }

hr {
  margin: 1.5rem auto;
  border: 0;
  border-top: 0.0625rem solid #43485b;
  border-bottom: 0 solid #fff; }

sub,
sup {
  position: relative;
  margin-left: .25rem;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5rem; }

sub {
  bottom: -.25rem; }

abbr[title] {
  border-bottom: 0.0625rem dotted #3E3E3E; }

mark {
  background-color: yellow;
  color: #3E3E3E;
  padding: .25rem; }

blockquote {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-left: 0.25rem solid #00aeef;
  font-family: "NewsGothicMT-Bold", sans-serif; }
  blockquote p:last-of-type {
    margin-bottom: .25rem; }
  blockquote cite {
    font-style: italic; }

figure {
  margin-bottom: 1.5rem; }

figcaption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: "NewsGothicMT-Bold", sans-serif;
  font-size: .875rem;
  text-align: center;
  border-bottom: 0.0625rem solid #dce8ef; }

::-moz-selection {
  color: #fff;
  background: #00aeef; }

::selection {
  color: #fff;
  background: #00aeef; }

.container {
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.l-row {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.container--blocks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .container--blocks .block {
    -ms-flex: 1;
        flex: 1; }

@media screen and (min-width: 40rem) {
  .container--header,
  .container--footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .container--blocks {
    -ms-flex-direction: row;
        flex-direction: row; }
  .l-logo {
    width: 20.83333%;
    float: left;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-nav {
    width: 79.16667%;
    float: right;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .l-block {
    width: 29.16667%;
    float: left;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .main-footer .l-logo {
    width: 12.5%;
    float: left;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .main-footer .l-copyright {
    width: 62.5%;
    float: left;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

.block {
  position: relative;
  padding: 0.75rem 6rem 0.75rem 0.75rem;
  overflow: hidden; }
  @media screen and (min-width: 40rem) {
    .block {
      min-height: 28em; } }
  .block *:last-child {
    margin-bottom: 0; }
  .block *:first-child {
    margin-top: 0; }
  .block p {
    font-size: 1.2em; }

.block:nth-child(3n + 1) {
  background: #00aeef !important; }

.block:nth-child(3n + 2) {
  background: #005399 !important; }

.block:nth-child(3n + 3) {
  background: #022553 !important; }

.block__content {
  position: relative;
  z-index: 1; }

.block__image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.05);
  filter: saturate(10%);
  opacity: 0.1;
  transition: all .4s; }
  .block:hover .block__image {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3; }

button,
.btn,
input[type="submit"] {
  margin-bottom: 1rem;
  padding: .75rem 1.5rem;
  display: inline-block;
  font-family: "NewsGothicMT-Bold", sans-serif;
  font-size: inherit;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  color: #fff;
  background-color: #00aeef;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  button:hover, button:focus, button:active,
  .btn:hover,
  .btn:focus,
  .btn:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active {
    color: #fff;
    text-decoration: none;
    background-color: #0094cb; }
  button.btn--disabled, button[disabled],
  .btn.btn--disabled,
  .btn[disabled],
  input.btn--disabled[type="submit"],
  input[disabled][type="submit"] {
    cursor: not-allowed;
    opacity: .6; }

.btn--secondary {
  background-color: #005399;
  color: white !important; }
  .btn--secondary:hover, .btn--secondary:focus, .btn--secondary:active {
    background-color: #004782;
    color: white !important; }

.btn--tertiary {
  color: #3E3E3E;
  background-color: #022553; }
  .btn--tertiary:hover, .btn--tertiary:focus, .btn--tertiary:active {
    color: #3E3E3E;
    background-color: #021f47; }

.btn--grey {
  color: #3E3E3E;
  background-color: #dce8ef; }
  .btn--grey:hover, .btn--grey:focus, .btn--grey:active {
    color: #3E3E3E;
    background-color: #bbc5cb; }

.btn--small {
  padding: .25rem .75rem;
  font-size: .875rem; }

.btn--large {
  padding: .5rem 1.625rem;
  font-size: 1.375rem;
  line-height: normal; }

.btn--xlarge {
  padding: .75rem 1.75rem;
  font-size: 1.375rem;
  line-height: normal; }

.btn--rounded {
  border-radius: .25rem; }

.btn--pill {
  border-radius: 3rem; }

.btn--ghost {
  color: #FFFFFF;
  border: 0.125rem solid #FFFFFF;
  background-color: transparent; }
  .btn--ghost:hover, .btn--ghost:focus, .btn--ghost:active {
    background-color: rgba(255, 255, 255, 0.2); }

.btn--block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  display: block;
  width: 100%; }

.countdown {
  padding: 1.5rem; }

.countdown ul {
  list-style: none;
  font-size: 12px; }
  @media screen and (min-width: 40rem) {
    .countdown ul {
      font-size: 16px; } }

.countdown li {
  display: inline-block;
  background-image: url(/img/shape.svg);
  width: 10.9375em;
  height: 12.625em;
  background-size: cover;
  margin: 0 0.5rem 0.5rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 1.2;
  padding: 1em 0 2em; }

.countdown li span {
  display: block;
  text-transform: uppercase; }
  .countdown li span:first-child {
    font-size: 4rem; }

.embed-wrap {
  position: relative;
  margin: 1.5rem auto;
  padding: 1.875rem 0 56.25% 0;
  width: 100%;
  height: 0;
  overflow: hidden; }
  .embed-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.event__assets {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center; }

.event__assets li {
  width: 33.333%;
  -ms-flex: 1 0 33.3333%;
      flex: 1 0 33.3333%;
  max-width: 50%;
  padding: 0 1.5rem 1.5rem 0;
  margin: 0 !important;
  float: left; }

.event__assets img {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.21);
  border: 5px solid white; }

.main-footer {
  padding-bottom: 3rem; }
  .main-footer .logo {
    max-width: 12em;
    margin: 0 auto 1.5rem;
    display: block; }
    @media screen and (min-width: 40rem) {
      .main-footer .logo {
        margin: 0; } }
  .main-footer p {
    margin-bottom: 0; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.main-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }
  @media screen and (min-width: 40rem) {
    .main-nav ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end;
      -ms-flex-align: center;
          align-items: center; } }

.main-nav li {
  width: 100%;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  border-top: 1px solid #3E3E3E; }
  @media screen and (min-width: 40rem) {
    .main-nav li {
      border-top: 0;
      width: auto;
      display: inline-block;
      text-align: left; } }

.main-nav li a {
  display: inline-block;
  padding: 0.75rem; }
  @media screen and (min-width: 40rem) {
    .main-nav li a {
      padding: 0.5rem; } }
  @media screen and (min-width: 64rem) {
    .main-nav li a {
      padding: 0.75rem; } }

.selected a {
  color: #005399 !important; }

.js .main-nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.main-nav.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.75rem;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 1em;
  border-top: 1px solid #3E3E3E; }

@media screen and (min-width: 40rem) {
  .js .main-nav {
    position: relative;
    text-align: right; }
  .js .main-nav.closed {
    max-height: none; }
  .nav-toggle {
    display: none; } }

form,
fieldset {
  margin-bottom: 1.5rem; }

label {
  margin-bottom: .25rem;
  display: block;
  font-family: "NewsGothicMT-Bold", sans-serif;
  cursor: pointer; }

fieldset {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: 0.0625rem solid #43485b; }

legend {
  margin: 0;
  margin-left: -.5rem;
  padding: 0 .5rem;
  display: block;
  font-family: "NewsGothicMT-Bold", sans-serif; }

.form__row,
.form--inline .form__row--controls,
.form--inline .form__row--actions {
  margin-bottom: 1.5rem; }

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  padding: .375rem;
  display: block;
  width: 100%;
  height: 2.375rem;
  font: inherit;
  line-height: 1.5;
  color: #3E3E3E;
  border: 0.0625rem solid #43485b; }

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  margin-bottom: 0;
  display: inline-block;
  width: auto;
  cursor: pointer;
  vertical-align: baseline; }

textarea {
  height: 5.5rem;
  overflow: auto;
  resize: vertical; }

select {
  font-family: "NewsGothicMT-Bold", sans-serif; }

input[type="submit"] {
  width: auto;
  margin-bottom: 0; }

input:focus,
select:focus,
textarea:focus {
  border-color: #00aeef;
  border-color: rgba(0, 174, 239, 0.8);
  outline: 0;
  outline: thin dotted \9;
  transition: border .2s linear; }

input[disabled],
textarea[disabled] {
  background: #eef4f7;
  cursor: not-allowed;
  overflow: hidden;
  white-space: nowrap; }

.form--inline input,
.form--inline textarea,
.form--inline select {
  display: inline-block;
  width: auto; }

.form--inline label {
  display: inline-block;
  margin: 0 1rem 0 0;
  width: 6.5rem;
  text-align: right; }

.form--inline .form__row--controls, .form--inline .form__row--actions {
  margin-left: 7.5rem; }
  .form--inline .form__row--controls label, .form--inline .form__row--actions label {
    width: auto; }

.form--inline .form__row--actions {
  margin-bottom: 0; }

::-webkit-input-placeholder {
  color: #43485b; }

::-moz-placeholder {
  color: #43485b; }

:-ms-input-placeholder {
  color: #43485b; }

.main-header {
  font-family: "Lato", serif;
  letter-spacing: 1px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.21);
  position: relative;
  padding-top: 1.5rem; }
  @media screen and (min-width: 40rem) {
    .main-header {
      padding-top: 0.75rem;
      padding-bottom: 1.5rem;
      letter-spacing: 0; } }
  @media screen and (min-width: 64rem) {
    .main-header {
      letter-spacing: 1px; } }
  .main-header a:not(.btn) {
    color: inherit;
    transition: color 0.2s; }
  .main-header a:hover,
  .main-header a:active {
    color: #022553; }
  .main-header .logo {
    max-width: 10em;
    max-height: 10em;
    margin: 0 auto;
    display: block; }
    @media screen and (min-width: 40rem) {
      .main-header .logo {
        margin: 0; } }
  .main-header .btn {
    font-family: "Lato", serif;
    margin-bottom: 0;
    padding: .75rem;
    line-height: 1.5;
    margin: 0 auto;
    display: block;
    border-radius: 0; }
    @media screen and (min-width: 40rem) {
      .main-header .btn {
        display: inline-block;
        border-radius: 3em;
        margin-left: 1em; } }

ul,
ol,
dl,
.list {
  margin-bottom: 1.5rem;
  margin-left: 1.75rem;
  font-family: inherit;
  list-style-position: outside; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }
  ul ul {
    list-style: square; }
    ul ul ul {
      list-style: circle; }

ol {
  list-style: decimal; }
  ol ol {
    list-style: upper-alpha; }
    ol ol ol {
      list-style: lower-roman; }

dl {
  margin-left: 0; }

dt {
  font-weight: bold;
  font-family: "NewsGothicMT-Bold", sans-serif; }

.list--unstyled,
.event__assets {
  margin-left: 0;
  list-style: none; }

.list--inline,
.event__assets {
  margin-left: 0; }
  .list--inline li, .event__assets li {
    display: inline-block;
    margin-right: .5rem; }

.hero {
  margin-top: 0; }

.hero img {
  width: 100%; }

.media {
  display: block;
  margin-bottom: 1.5rem; }

.media__item {
  float: left;
  margin: 0 1.5rem 1.5rem 0; }

.media__item--reversed {
  float: right;
  margin-left: 1.5rem; }

.media__item img,
.media__item--reversed img {
  display: block; }

.media__body {
  overflow: hidden; }
  .media__body:last-child {
    margin-bottom: 0; }

.flag {
  display: table;
  width: 100%;
  margin-bottom: 1.5rem; }

.flag__item,
.flag__body {
  display: table-cell;
  vertical-align: middle; }
  .flag--top .flag__item, .flag--top
  .flag__body {
    vertical-align: top; }
  .flag--bottom .flag__item, .flag--bottom
  .flag__body {
    vertical-align: bottom; }

.flag__item {
  padding-right: 1.5rem; }
  .flag__item > img {
    display: block;
    max-width: none; }
  .flag--reversed .flag__item {
    padding-right: 0;
    padding-left: 1.5rem; }

.flag__body {
  width: 100%; }
  .flag__body p:last-of-type {
    margin-bottom: 0; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.container--page {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
