<a href="<perch:content id="link" type="text" label="Link" required="true" order="2" />" class="l-block block bg-primary">
    <div class="block__content">
      <h2><perch:content id="title" type="text" label="Title" required="true" title="true" order="1"/></h2>
      <p><perch:content id="text" type="textarea" label="Body" /></p>
    </div>
    <img class="block__image" src="<perch:content type="image" id="image" label="Image" width="600" />" alt="<perch:content type="text" id="title" />" />

  </a>